{% extends 'Familia/padre.html' %}

{% load static %}

{% block titulo %}
  <h1 class="text-white font-tertiary">Esta es<br>La página del<br>Listado de Lugares</h1>
{% endblock %} 

{% block contenido %}
<p class="font-secondary paragraph-lg text-dark">Formulario</p>


<table border="1px" width ="80%" align="center" style="border-collapse:collapse; text-align:center;">
  <tr>
    <th>Ciudad</th>
    <th>Estado</th>
    <th>Ver</th>
    <th>Eliminar</th>
    <th>Edición</th>
  </tr>
  {% for Viven in object_list %}
  <tr>
    <td>{{Viven.ciudad}}</td>
    <td>{{Viven.estado}}</td>
    <td><a class="btn btn-primary" href="{% url 'LugarDetalle' Viven.id %}" >Ver</a></td>
    <td><a class="btn btn-danger" href="{% url 'LugarBorrar' Viven.id %}" >Borrar</a></td>
    <td><a class="btn btn-success" href="{% url 'LugarEditar' Viven.id %}">Editar</a></td>
  </tr>
{% endfor %}
<tr>
  <td><a class="btn btn-primary" href="{% url 'LugarCrear' %}">Agregar</a></td>
</tr>
</table>

<h3>{{ mensaje }}</h3>

{% endblock %} 