{% extends 'Familia/padre.html' %}

{% load static %}

{% block titulo %}
  <h1 class="text-white font-tertiary">Esta es<br>La página del<br>Listado de Hermanos</h1>
{% endblock %} 

{% block contenido %}
<p class="font-secondary paragraph-lg text-dark">Formulario</p>


<table border="1px" width ="80%" align="center" style="border-collapse:collapse; text-align:center;">
  <tr>
    <th>Nombre </th>
    <th>Apellido </th>
    <th>Ver</th>
    <th>Eliminar</th>
    <th>Edición</th>
  </tr>
  {% for Hermanos in object_list %}
  <tr>
    <td>{{Hermanos.nombre}}</td>
    <td>{{Hermanos.apellido}}</td>
    <td><a class="btn btn-primary" href="{% url 'HermanosDetalle' Hermanos.id %}" >Ver</a></td>
    <td><a class="btn btn-danger" href="{% url 'HermanosBorrar' Hermanos.id %}" >Borrar</a></td>
    <td><a class="btn btn-success" href="{% url 'HermanosEditar' Hermanos.id %}">Editar</a></td>
  </tr>
{% endfor %}
<tr>
  <td><a class="btn btn-primary" href="{% url 'HermanosCrear' %}">Agregar</a></td>
</tr>
</table>

<h3>{{ mensaje }}</h3>

{% endblock %} 