{% extends 'Familia/padre.html' %}

{% load static %}

{% block titulo %}
  <h1 class="text-white font-tertiary">Esta es<br>La página para<br>Ver Detalles de los Lugares</h1>
{% endblock %} 

{% block contenido %}


  <table border="1px" width ="80%" align="center" style="border-collapse:collapse; text-align:center;">
      <tr>
        <th>Ciudad</th>
        <th>Estado</th>
      </tr>
    
      <tr>
        <td>{{object.ciudad}}</td>
        <td>{{object.estado}}</td>
      </tr>
 
  </table>

{% endblock %} 