{% extends 'Familia/padre.html' %}

{% load static %}

{% block titulo %}
  <h1 class="text-white font-tertiary">Esta es<br>La página para<br>Ver Detalles de los Trabajos</h1>
{% endblock %} 

{% block contenido %}


  <table border="1px" width ="80%" align="center" style="border-collapse:collapse; text-align:center;">
      <tr>
        <th>Profesion</th>
        <th>Título</th>
        <th>Mail</th>
        <th>Activo</th>
      </tr>
    
      <tr>
        <td>{{object.profesion}}</td>
        <td>{{object.titulo}}</td>
        <td>{{object.mail}}</td>
        <td>{{object.activo}}</td>
      </tr>
 
  </table>




{% endblock %} 